p{
	color:rgb(23,160,225);
	font-family:Arial, Helvetica;
	font-size: 23px;
}

h1 {
 color:slategray;
 padding-bottom: 1em;
}

p1{
background:honeydew;
padding-right:5em;
padding-left:5em;
padding-top: 5em;
padding-bottom: 5em;

}

p2{
padding-bottom: 1em;

}
/* .means class*/
.p_width	{
	width:60%;
	margin:auto;
}

/* #is id*/
#p_width 2	{
	width:30%;
/*	margin:auto;*/
}

body{
	margin:0px;
}